@charset "UTF-8";
/**
 * $File: style.css $
 * $Date: 2021-01-12 02:25:29 $
 * $Revision: $
 * $Creator: Jen-Chieh Shen $
 * $Notice: See LICENSE.txt for modification and distribution information
 *                   Copyright © 2021 by Shen, Jen-Chieh $
 */

* {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  flex: 1 1 30%;
  height:200px;
  background-color:#ccc;
  border:1px solid black;
}

.box1 {
  flex: 1 1 60%;
  height: 200px;
  background-color: #ccc;
  border:1px solid black;
}

.box2 {
  flex: 1 1 50%;
  height:200px;
  background-color:#ccc;
  border:1px solid black;
}

.box3 {
  flex: 1 1 50%;
  height: 200px;
  background-color: #ccc;
  border:1px solid black;
}

.box4 {
  flex: 1 1 30%;
  height: 200px;
  background-color: #ccc;
  border: 1px solid black;

  height: 100px;
}
