name: Backup

on:
  # Schedule updates
  schedule:
    - cron:  '0 * * * *'
  push: {branches: "master"}
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PATH_DOC: ${{ github.workspace }}/gh-pages

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Backup files
      run: |
        mkdir -p ./backup
        chmod -R 777 ./backup.sh
        ./backup.sh acti_comm.svg
        ./backup.sh header.svg
        ./backup.sh iso_calender.svg
        ./backup.sh issue_pr_lang.svg
        ./backup.sh metadata.svg
        ./backup.sh repositories.svg

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Commit
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Make backup"

    - name: Push backup SVGs
      continue-on-error: true
      uses: jcs090218/github-push-action@master
      with:
        branch: master
        rebase: true
        retry: 3
