name: Recover

on:
  workflow_run:
    workflows: ["Metrics SVG"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PATH_DOC: ${{ github.workspace }}/gh-pages

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Recover files if any
      run: |
        chmod -R 777 ./recover.sh
        ./recover.sh acti_comm.svg
        ./recover.sh header.svg
        ./recover.sh iso_calender.svg
        ./recover.sh issue_pr_lang.svg
        ./recover.sh metadata.svg
        ./recover.sh repositories.svg

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Commit
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Recover if error"

    - name: Push recover SVGs
      continue-on-error: true
      uses: jcs090218/github-push-action@master
      with:
        branch: master
        rebase: true
        retry: 3
